# Archivo .gitignore 

# Archivos compilados de Java
*.class
*.war
*.ear

# Archivos de Intellij IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Archivos de Eclipse
.settings/
.project
.classpath
bin/

# Archivos de NetBeans
nbproject/private/
nbproject/build-impl.xml
nbproject/project.properties
nbproject/project.xml
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Archivos de VS Code
.vscode/
bin/

# Archivos de Ant
build/
dist/
lib/
build.xml~

# Archivos de log
*.log
logs/

# Archivos de sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archivos de base de datos (si usas alguna)
*.db
*.sqlite
*.h2.db

# Archivos de configuración local
*.properties
*.cfg
config.properties

# Archivos temporales
*.tmp
*.temp
*.bak
*.swp
*~.nib
local.properties